
    .index-body-content-item {
        display: flex;
        display: -webkit-flex;
        flex-direction: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        min-height: 12em;
        min-width: 8em;
        border: 1px solid #00f;
        margin: 0.5em;
        /*background-color: #00f;*/
    }